<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">Prati123</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jdbc_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.Anudip.onlinefoododering.FoodItem"/>
        <mapping class="com.Anudip.onlinefoododering.Customer"/>
        <mapping class="com.Anudip.onlinefoododering.FoodOrder"/>
        <mapping class="com.Anudip.onlinefoododering.OrderDetail"/>
        <mapping class="com.Anudip.onlinefoododering.Restaurant"/>
        
    </session-factory>
</hibernate-configuration>